
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/MasterPage/WebPage.cshtml";
    Model.Product_Info ProductInfo = ViewBag.ProductInfo;
}

<style>
    .layui-inline {
        margin-top: 20px;
    }

    .layui-form-text {
        margin-top: 20px;
    }

    .CP-input-style {
        width: 300px;
    }

    .ms-message-textarea {
        width: 400px;
    }
</style>
<div class="ImportContacts addNewmembers">
    <form class="layui-form" action="">
        <div class="Change-password-wrap">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">商品名称:</label>
                    <div class="layui-input-inline">
                        <input type="text" maxlength="50" id="ProductName" value="@ProductInfo.ProductName" lay-verify="identity" placeholder="请输入" autocomplete="off" class="layui-input CP-input-style">
                        <input type="hidden" id="ProductID" />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">商品类型:</label>
                    <div class="layui-input-inline">
                        <select id="ProductType" lay-filter="ProductType" lay-verify="required">
                            <option value="0">---请选择---</option>
                            @foreach (var item in ViewBag.ProductTypeList)
                            {
                                <option value="@item["ID"]" @(ProductInfo.ProductType == item["ID"] ? "selected=selected" : "")>@item["Title"]</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">商品材质:</label>
                    <div class="layui-input-inline">
                        <select id="ProductMaterial" lay-filter="ProductMaterial" lay-verify="required">
                            <option value="0">---请选择---</option>
                            @foreach (var item in ViewBag.ProductMaterialList)
                            {
                                <option value="@item["ID"]" @(ProductInfo.Material == item["ID"] ? "selected=selected" : "")>@item["Name"]</option>
                            }
                        </select>
                    </div>
                </div>


                <div class="layui-inline">
                    <label class="layui-form-label">商品图片:</label>
                    <div class="layui-input-inline">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn layui-btn-normal" id="Image">选择文件</button>
                            <button type="button" class="layui-btn" id="UpImage" style="display:none"></button>
                        </div>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">商品价格:</label>
                    <div class="layui-input-inline">
                        <input type="text" maxlength="50" id="Price" value="@(ProductInfo.Price==0?"":ProductInfo.Price.ToString())" lay-verify="identity" placeholder="请输入" autocomplete="off" class="layui-input CP-input-style">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">单位:</label>
                    <div class="layui-input-inline">
                        <input type="text" maxlength="50" id="Unit" value="@ProductInfo.Unit" lay-verify="identity" placeholder="请输入" autocomplete="off" class="layui-input CP-input-style">
                    </div>
                </div>

                <div class="layui-form-item layui-form-text" style="margin-bottom: 10px;">
                    <label class="layui-form-label">备注：</label>
                    <div class="layui-input-block">
                        <div class="ms-message-textareaWrap">
                            <textarea id="Details" placeholder="请输入备注内容" class="layui-textarea ms-message-textarea" maxlength="2000">@ProductInfo.Details</textarea>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
<script>

    function Trim(str, is_global) {
        var result;
        result = str.replace(/(^\s+)|(\s+$)/g, "");
        if (is_global.toLowerCase() == "g") {
            result = result.replace(/\s/g, "");
        }
        return result;
    }

    function inputSapceTrim(e, this_temp) {
        this_temp.value = Trim(this_temp.value, "g");
        var keynum;
        if (window.event) // IE
        {
            keynum = e.keyCode
        }
        else if (e.which) // Netscape/Firefox/Opera
        {
            keynum = e.which
        }
        if (keynum == 32) {
            return false;
        }
        return true;
    }

</script>
<script type="text/javascript">
    var refreshGird; // 更新表格
    var SearchParam = {};
    var acceptClick;
    var vCallback;
    var vIsSelectedImg = false;
    var bootstrap = function ($, vso) {
        "use strict";
        var page = {
            init: function () {
                page.bind();
                page.action();
                page.initGird();
            },
            bind: function () {
                layui.use(['form', 'layedit', 'laydate', 'upload'], function () {
                    var form = layui.form
                        , layer = layui.layer
                        , layedit = layui.layedit
                        , laydate = layui.laydate
                        , upload = layui.upload;


                    upload.render({
                        elem: '#Image'
                        , url: '/Product/Ajax/UpLoadProductImg'
                        , auto: false
                        , accept: "images"
                        , bindAction: '#UpImage'
                        , choose: function (obj) {
                            obj.preview(function (index, file, result) {
                                if (file.name.length > 0) {
                                    vIsSelectedImg = true;
                                }
                            });
                        }
                        , done: function (json) {
                            vso.loading(false);
                            if (json.code == "-1") {
                                top.vso.alert.error(json.msg);
                            }
                            else {
                                if (!!vCallback) {

                                    vCallback();
                                }
                                top.vso.alert.success(json.msg);
                                vso.layerClose(window.name);
                            }
                        }
                    });

                });


            },
            action: function () {

            },
            initGird: function () {
            },
            search: function (param) {
            }
        };

        acceptClick = function (callback) {
            var vProductName = $.trim($("#ProductName").val());
            var vProductType = $("#ProductType").val();
            var vProductMaterial = $("#ProductMaterial").val();
            var vPrice = $("#Price").val();
            var vUnit = $("#Unit").val();
            var vDetails = $("#Details").val();
            vCallback = callback;
            $.post("/Product/Ajax/SetProduct", { ID: '@ProductInfo.ID', ProductName: vProductName, ProductType: vProductType, Material: vProductMaterial, Price: vPrice, Unit: vUnit, Details: vDetails, IsEnable: true, r: Math.random() }, function (json) {
                if (json.code == "-1") {
                    top.vso.alert.error(json.msg);
                }
                else {
                    $("#ProductID").val(json.data);
                    if (vIsSelectedImg) {
                        $("#UpImage").click();
                        vso.loading(true, '系统正在保存');
                    } else {

                        if (json.code == "-1") {
                            top.vso.alert.error(json.msg);
                        }
                        else {
                            if (!!vCallback) {

                                vCallback();
                            }
                            top.vso.alert.success(json.msg);
                            vso.layerClose(window.name);
                        }
                    }
                }
            });

            return false;
        };
        // 保存数据后回调刷新
        refreshGird = function () {
            page.search();
        }
        page.init();
    };
</script>
